<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="theme-color" content="#3c5aa6">

    <title>Pokédex</title>

    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Pokédex
            </h1>
            <h2 class="subtitle">
                UKFast PHP Test
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h3 class="is-size-4 is-inline is-one-third">Search for a Pokémon:</h3>
        <form>
            <div class="field is-grouped">
                <p class="control is-expanded">
                    <input class="input" type="text" placeholder="eg. Pidgey" name="search" value="{{ searchBox }}">
                </p>
                <p class="control">
                    <button type="submit" class="button is-primary">
                        <i class="fa fa-search"></i>&nbsp;Search
                    </button>
                </p>
                <p class="control">
                    <a href='/' class="button is-danger">
                        <i class="fa fa-times"></i>&nbsp;Clear Search
                    </a>
                </p>
            </div>
        </form>
    </div>
</section>

{% if resultsFound == false %}
    <section class="section is-paddingless">
        <div class="container">
            <div class="notification is-danger">
                No results found
            </div>
        </div>
    </section>
{% else %}
    <section class="section is-paddingless">
        <div class="container">
            <div class="columns">
                {% for pokemon in pokemons %}
                    <div class="column is-one-third">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-left">
                                        <figure class="image is-48x48">
                                            <img src="img/sprites/pokemon/{{ pokemon.id }}.png" alt="{{ pokemon.name|capitalize }}">
                                        </figure>
                                    </div>
                                    <div class="media-content">
                                        <p class="title is-4">{{ pokemon.name|capitalize }}</p>
                                        <p class="subtitle is-6">Species: {{ pokemon.species|capitalize }}</p>
                                    </div>
                                    <div class="is-right has-text-right" style="margin-right: 20px">
                                        <p class="title is-5">{{ pokemon.weight }}</p>
                                        <p class="subtitle is-6">kilogram{% if pokemon.weight == 1 %}s{% endif %}</p>
                                    </div>
                                    <div class="is-right has-text-right">
                                        <p class="title is-5">{{ pokemon.height / 10 }}</p>
                                        <p class="subtitle is-6">metre{% if pokemon.height == 1 %}s{% endif %}</p>
                                    </div>
                                </div>

                                <div class="content">
                                    <b>Abilities</b>
                                    <ul>
                                        {% for ability in pokemon.abilities %}
                                            <li>{{ ability|capitalize }}</li>
                                        {%  endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% if loop.index % 3 == 0 %}
                        </div><div class="columns">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <nav class="pagination" role="navigation" aria-label="pagination">
                {% if pagination.previous != null %}
                    <a class="pagination-previous" href="{{ pagination.next }}">Previous</a>
                {% endif %}
                {% if pagination.next != null %}
                    <a class="pagination-next" href="{{ pagination.previous }}">Next page</a>
                {% endif %}
            </nav>
        </div>
    </section>
{% endif %}
</body>
</html>